
/* Shared Menu Container Style Sheet*/
.groupText{
    font-size: 15px;
    font-family: "Trebuchet MS", sans-serif;
    color: rgb(255, 255, 255);
    background: transparent;
}
body {
    background-color: rgb(246, 200, 143);
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    margin: 0;
}
.iconMenu{
    display: none;
}
.bottomPanel{
    flex-grow: 1; 
    display: flex; 
    flex-direction: column;
}
.menuPanel {
    background-color: rgb(195, 128, 57);
    border-radius: 17px;
    display: flex;
    opacity: 0.7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 25px rgba(0, 0, 0, 0.2), 0 0 35px rgba(0, 0, 255, 0.1);
    flex: 2 1 auto;
}
.innerContainer {
    display: flex;
    flex-direction: row;
    flex: 2 1 auto;
    margin: 2em;
    max-height: calc(100vh - 4em);
}
.sidePanel{
    background-color: rgba(118, 73, 25, 0.757);
    border-radius: 17px 0 0 17px;
    display: flex;
    flex-direction: column;
    padding: 3%;
}
.sideMenuLink{
    display: flex;
    align-items: baseline;
}
.rightSidePanelRow {
    display: flex;
    padding: 10px;
    border-radius: 0 17px 17px 0;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow: hidden; 
}
.buttonPanel{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10%;
    background: transparent;
}
i{
    flex-grow: 1;
    color: #eda34a;
    font-size: 220%;
}
.iconHomePage,
.minusIcon{
    color: #77470d; 
}
.minusIcon{
    font-size: x-large;
}
p,
h1{
    font-family: "Trebuchet MS", sans-serif;
    color: #eda34a;
    background: transparent;
}
.sidePanelText{
    font-size: x-large;
    flex-grow: 1;
}
.robotIDHeader,
.boxHeaders,
.text,
.groupText{
    font-size: 15px;
    color: rgb(91, 47, 11); 
}
.groupText{
    margin: 2%;
}
.boxHeaders{
    text-align: center;
}

a:link{
    text-decoration: none;
}
/* Individual Page Style Sheet*/
.helpButton{
    padding: 2%;
    font-size: medium;
    opacity: 100%;
    background: transparent;
    box-shadow: none;
    text-align: left;
    font-weight: 500;
    margin: 1.1%;
    flex-grow: 1;
    border-radius: 17px;
    background-color:rgb(195, 128, 57);
}
.helpButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.helpArea{
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
    display: flex;
    flex-direction:row;
    width:100%;
    justify-content: center;
}
.scrollbar {
    flex-grow: 1; 
    overflow-x: hidden; 
}
.taskDiv,
.taskContainer,
.helpContainer,
.helpInputContainer{
    display: flex;
}
.taskContainer,
.helpContainer {
    background-color: #d7a364;
    border-radius: 17px;
    flex-direction: column;
}
.helpInputContainer{
    border-radius: 17px;
    flex-direction: row;
    justify-content: center;
}
input[type="checkbox"] {
    accent-color:rgb(91, 47, 11);;
}
textarea{
    border-radius: 10px 0 0 10px;
    flex-grow: 1; 
    border: none;
    opacity: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    color: rgb(91, 47, 11);
}
button{
    border: none;
    border-radius: 0 10px 10px 0;
    color: rgb(91, 47, 11);
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    opacity: 70%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    font-weight:bolder;
}
/*Groups page */
.search{
    --padding: 14px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--padding);
    border-radius: 17px;
    background-color: #f6f6f6;
    height: 0%;
    flex: 1;
}
.searchInput{
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 100;
}
.searchInput::placeholder,
.searchIcon{
    color: rgb(0, 0, 0, 0.25)
}
.groupDiv{
display: flex;
padding: 10px;
border-radius: 17px;
justify-content: center;
margin: 10px;
}
.groupCard{
    border-radius: 17px;
    background-color: #d7a364;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 3px;
}
.groupLink{
    flex-grow: 1;
    display: flex;
    min-width: 35vw;
}
/* Settings Page */
.InterfaceStyleContainer{
    display: flex;
    border-radius: 17px;
    background-color: #d7a364;
}  
.switch {
    position: relative;
    display: inline-block;
    max-width: 60px;
    height: 34px;
    flex-grow: 1;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e4bf95;
    -webkit-transition: .4s;
    transition: .4s;
    }

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

input:checked + .slider {
    background-color: #ae651c;
    }

input:focus + .slider {
    box-shadow: 0 0 1px #ae651c;
    }

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

.slider.round {
    border-radius: 34px;
    }

.slider.round:before {
    border-radius: 50%;
    }            
    /* Home Pahe */
.homeScreenPanel {
        display: flex;
        flex-direction: row;
        padding: 10px;
        border-radius: 17px;
        background-color: #d7a364;
        margin: 20px auto;
        align-items: center;
    }
.individualGroupHeaderContainer{
    text-align: center; 
    display: flex; 
    justify-content: center; 
    background-color: #e4bf95; 
    flex-direction: column; 
    border-radius: 17px;
}
.spacer{
    display:flex;
    flex: 1;
}
.wrapContainer{
    display: flex;
    flex-wrap: wrap;
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 500px) {
    .sidePanel {
        display: none;
    }
    .iconMenu{
        display: flex;
        flex-grow: 1; 
        background-color: rgba(118, 73, 25, 0.757);
        position: sticky;
        bottom: 0;
        z-index: 1000;
    }
    .sideMenuLink{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    p{
        font-family: "Trebuchet MS", sans-serif;
        color: #eda34a;
        background: transparent;
    }
    .sidePanelText{
        font-size: smaller;
        text-align: center;
        height: 0%;
        margin: 0;
    }
    .fa-solid{
        align-content: center;
    }
    .spacer{
        display: none;
    }
    .innerContainer{
        margin: 0;
        flex: 60 1 auto;
    }
    .menuPanel{
        border-radius: 0;
    }
    .groupLink {
        flex-grow: 1;
        display: flex;
        min-width: 50vw;
    }
}
